AddDefaultCharset UTF-8

# BEGIN WordPress

RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# END WordPress

# protect xmlrpc

Order Deny,Allow
Deny from all


# protect wp-cron

Order Deny,Allow
Deny from all