.footer {
  margin: 20px;
  padding: 30px;
  background-color: $color-3;
  color: $color-6;

  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 0;

      &:before {
        margin-right: 0;
        content: none;
      }
    }
  }

  &-top {
    display: flex;
    padding-bottom: 25px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }

  &-nav {
    font-size: $fs-xs;

    li {
      margin-bottom: 15px;

      &:last-child {
        position: initial;
        top: unset;
        left: unset;
        width: auto;
      }

      li {
        margin-bottom: 12px;

        &:first-child {
          margin-top: 12px;
        }

        &:last-child {
          position: inherit;
        }

        a {
          color: $color-6;
          font-weight: 400;
          text-transform: none;

          &:hover {
            color: $color-4;
          }
        }
      }

      a {
        color: $color-8;
        font-weight: $fw-bold;
        text-transform: uppercase;
      }
    }
  }

  &-contacts {
    margin-bottom: $mb-base;

    &__item {
      display: block;
      color: $color-6;
      font-weight: $fw-medium;
      line-height: $lh-xl;

      &:hover {
        color: $color-4;
      }
    }
  }

  &-btn {
    &__support {
      display: block;
      width: fit-content;
      margin: 0 auto 20px;
      font-size: $fs-xs;

      &:hover {
        color: $color-3;
      }
    }
  }

  &-social {
    display: flex;
    margin: 0 auto;
    width: fit-content;

    &__item:not(:first-child) {
      margin-left: 16px;
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;

    li {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }

      a {
        color: $color-4;

        &:hover {
          color: $color-5;
        }

        &.dev {
          color: $color-2;

          &:hover {
            color: $color-4;
          }
        }
      }
    }
  }

  &-text {
    line-height: 1.5;
  }

  &-bottom {
    font-size: $fs-xs;
    color: $color-4;
  }

  @media #{$lg} {
    margin: 60px;
    padding: 60px;
    flex-direction: row;
    text-align: left;

    .footer-top {
      border-bottom: 1px solid #FFFFFF26;
      flex-direction: row;
      text-align: left;
    }

    .footer-nav {
      position: relative;

      .footer-list {

        & > li {
          &:last-child {
            position: absolute;
            top: 0;
            left: 200px;
            width: max-content;
          }
        }
      }
    }

    .footer-btn {
      &__support {
        display: inline-block;
        margin: 0 0 20px;
      }
    }

    .footer-social {
      margin: 0;
    }

    .footer-links {
      flex-direction: row;
      align-items: start;
      text-align: left;

      li {
        display: block;
        color: $color-4;

        &:not(:last-child) {
          margin-right: 58px;
          margin-bottom: 0;
        }
      }
    }
  }
}