footer {
  margin: 60px;
  padding: 60px;
  background-color: $color-3;
  color: $color-6;

  .footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-bottom: 0;
      &:before {
        margin-right: 0;
        content: none;
      }
    }
  }

  .footer-top {
    display: flex;
    padding-bottom: 25px;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF26;

    &__left {

      .footer-nav {
        position: relative;
        font-size: $fs-xs;

        &__item {
          margin-bottom: 15px;

          &:last-child {
            position: absolute;
            top: 0;
            left: 200px;
            width:max-content;
          }

          li {
            margin-bottom: 12px;

            &:first-child {
              margin-top: 12px;
            }

            a {
              color: $color-6;
              text-transform: none;

              &:hover {
                color: $color-4;
              }
            }
          }
        }

        &__link {
          color: $color-8;
          font-weight: $fw-bold;
          text-transform: uppercase;
        }
      }
    }

    &__right {

      .footer-contacts {
        margin-bottom: $mb-base;

        &__item {
          display: block;
          color: $color-6;
          font-weight: $fw-medium;
          line-height: $lh-xl;

          &:hover {
            color: $color-4;
          }
        }
      }

      .btn {
        display: inline-block;
        margin-bottom: $mb-base;
        font-size: $fs-xs;

        &:hover {
          color: $color-3;
        }
      }

      .footer-social {
        display: flex;

        &__item:not(:first-child) {
          margin-left: 16px;
        }
      }
    }
  }

  .footer-bottom {
    font-size: $fs-xs;
    color: $color-4;

    .footer-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__item {
        display: block;
        color: $color-4;

        &:not(:last-child) {
          margin-right: 58px;
        }
      }

      &__link {
        color: $color-4;

        &:hover {
          color: $color-5;
        }

        &_dev {
          color: $color-2;

          &:hover {
            color: $color-4;
          }
        }
      }
    }
  }
}