header {
  position: relative;
  margin: 0 60px;

  .header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;

    li {
      margin-bottom: 0;

      &:before {
        margin-right: 0;
        content: none;
      }
    }
  }

  .header-top {
    padding: 18px 58px;
    font-size: $fs-xxs;
    font-weight: 500;
    letter-spacing: .8px;

    &__left {
      display: flex;
      align-items: center;
    }

    .header-contacts {
      display: inline-block;

      &__item {
        a {
          color: $color-2;
          line-height: $lh-lg;
        }
      }
    }

    .header-nav {
      display: inline-block;

      .header-list {
        display: flex;
        align-items: stretch;
      }

      li {
        margin-left: 30px;

        a {
          color: $color-4;

          &:hover {
            color: $color-1;
          }
        }
      }
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 24px 58px;
    background-color: $color-5;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, .07);
    }

    .header-logo {
      display: inline-block;
      width: 95px;

      &__img {
        height: 35px;
        width: auto;
      }
    }

    .header-menu {
      width: 60%;

      .header-list {
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          margin-right: 10px;
          margin-left: 10px;
          color: $color-1;
          font-size: $fs-xxs;
          font-weight: 500;
          letter-spacing: .7px;
        }
      }
    }

    &_home {
      background-color: transparent;

      .header-menu {
        a {
          color: $color-5;

          &:hover {
            color: $color-5;
          }
        }
      }
    }

    &_inner {
      .header-menu {
        a {
          color: $color-1;

          &:hover {
            color: $color-4;
          }

          &[aria-current=page] {
            color: $color-2;
          }
        }
      }
    }

    .btn {
      display: inline-block;
      color: $color-5;
      font-size: $fs-xxs;

      &:hover {
        color: $color-2;
      }
    }
  }

  .header-banner {
    position: relative;
    height: 500px;
    padding: 80px 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    color: $color-5;

    + .header-bottom_home {
      top: -580px;
      color: $color-5;
    }
  }

  .header-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $color-2;

    img {
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .header-text {
    position: absolute;
    box-sizing: border-box;
    left: 115px;
    bottom: 55px;

    &__title {
      margin-bottom: $mb-base;
      font-size: $fs-xxl;
      font-weight: 900;
      width: 50%;
    }

    &__paragraph {
      font-size: $fs-base;
      width: 70%;
    }
  }
}

.page-header {
  margin: 0 60px;
  padding: 80px 0 45px;
  background-color: $color-5;
  text-align: center;

  &__title {
    position: relative;
    font-weight: 500;
    font-size: $fs-xl;
    line-height: 45px;

    &:after {
      position: absolute;
      bottom: -15px;
      left: 47%;
      content: '';
      display: block;
      height: 2px;
      width: 60px;
      background-color: $color-8;
    }
  }

  &__subtitle {
    margin: 6px auto 0 auto;
    max-width: 550px;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__content {
    padding: 0 150px 60px;
    background-color: $color-5;
  }

  &__subpages {
    position: relative;
    padding: 36px 0;
    background-color: $color-5;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, .07);
    }

    ul {
      margin: 0 auto;
      display: flex;
      max-width: 100%;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      @media #{$lg} {
        max-width: 70%;
      }

      li {
        a {
          font-size: $fs-xxs;
          font-weight: 500;
          letter-spacing: .7px;
          color: $color-4;

          &:hover {
            color: $color-1;
          }
        }

        &.active {
          a {
            color: $color-1;
          }
        }
      }
    }
  }
}