section {
  margin: 45px 60px 120px;
  //padding: 0 65px;

  &.section_bg {
    padding-top: 45px;
    padding-bottom: 45px;

    &_light {
      background-color: $color-5;
    }
  }

  &.section_border {
    &_top {
      padding-top: 0;
      border-top: $border;
    }

    &_btw {
      .row {

        & > div {
          padding-top: 45px;

          &:first-child {
            padding: 50px;
          }

          &:not(:first-child) {
            padding-left: 50px;
            border-left: $border;
          }
        }
      }
    }
  }

  &.section_narrow {
    padding-left: 115px;
    padding-right: 115px;
  }

  .section-title {
    color: $color-2;
    font-size: $fs-xs;
    font-weight: 700;
    letter-spacing: $ls-wide;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}