.fs-sm {
  font-size: $fs-sm;
}

.fs-md {
  font-size: $fs-md;
}

.fs-lg {
  font-size: $fs-lg;
}

.fs-xl {
  font-size: $fs-xl;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-black {
  font-weight: $fw-black;
}

.fw-xblack {
  font-weight: $fw-xblack;
}

.fw-max {
  font-weight: $fw-max;
}

.c-blue {
  color: $color-2;
}