.home {
  .team {
    &__img {
      overflow: hidden;
      margin-bottom: $mb-base;
      border-radius: 2px;

      img {
        width: 100%;
      }
    }

    &__name {
      margin-bottom: 8px;
      font-weight: 900;
    }

    &__position {
      color: $color-4;
      font-size: $fs-sm;
    }
  }

  .contact {
    &__title {
      margin-bottom: 25px;
      font-size: $fs-lg;
      font-weight: 900;
      width: 50%;
    }

    &__link {
      display: block;
      margin-bottom: 18px;
      font-size: $fs-md;
    }

    &-messengers {
      &__item:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .roadmap {
    margin-left: 20px;
    @media #{$lg} {
      margin-left: 70px;
    }

    table {
      margin-left: 35px;
      @media #{$lg} {
        margin-left: 150px;
      }

      tr {
        margin: 0 0 36px 8px;

        .roadmap__text {
          margin-left: 8px;
        }
      }

      th {
        font-size: $fs-lg;
        font-weight: 900;
        color: $color-2;
        vertical-align: baseline;

        &:before {
          top: -2px;
          right: 60px;
          left: unset;
          width: 15px;
          height: 15px;
          background-color: transparent;
        }

        &:after {
          top: 10px;
          right: 67px;
          left: unset;
          background-color: $color-9;
        }
      }
    }
  }
}